<nav class="navbar p-3 navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <h2>Marva.com</h2>
        </a>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <a href="/add">add</a>
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link w-100 d-block" aria-current="page" href="#">
                        <img class="d-block" src="/images/like.svg" alt="Like icon" width="30">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w-100 d-block" aria-current="page" href="/basket">
                        <img class="d-block" src="/images/cart.svg" alt="Basket icon" width="30">
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <li>
                        <a class="dropdown-item" href="/exit">Exit</a>
                    </li>
                </li>
            </ul>
        </div>
    </div>
</nav>

